* {
    padding: 0px;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}
.box {
    border: 1px solid black;
    font-size: medium;
}